:root {
	--white-color: white;
	--black-color: black;
	--blue-light-color: #8ac6e7;
	--blue: rgb(22, 70, 241);
	--gray: gray;
	--gray-light-color: lightgray;
	--red-color: rgb(156, 34, 34);
	--red-color-intens: #ff0000;
	--purple-color: purple;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	display: flex;
	width: 100%;
	height: 100vh;
}

main.index {
	flex: 1;
	display: flex;
}

h1 {
	font-family: "Great Vibes", cursive;
	font-size: 48px;
}

a {
	text-decoration: none;
	color: var(--black-color);
	cursor: pointer;
}

.d-none {
	display: none;
}

.headline {
	display: none;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	margin: 0;
}

.headline-log {
	flex: 1;
}

.headline h1 {
	font-size: 36px;
	margin: 0;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	padding: 40px;
	border-right: 1px solid var(--gray-light-color);
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 16px;
	padding: 24px;
	height: 100%;
}

nav h1 {
	margin-bottom: 24px;
	font-size: 36px;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-left: 0;
}

nav ul li a {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 12px;
	padding-left: 16px;
	border-radius: 8px;
	transition: background 0.2s ease-in-out 0.07s;
}

nav ul li a:hover {
	background-color: rgba(0 0 0/5%);
}

nav ul li img {
	width: 24px;
	aspect-ratio: 1/1;
}

nav article {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 12px;
}

.headline-icons img {
	width: 24px;
}

.profile-container a {
	display: flex;
	align-items: center;
	gap: 16px;
}

.profile-photo {
	width: 56px;
	height: 56px;
}

.profile-photo img {
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	flex: 1;
}

.stories-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 600px;
}

.stories-headline {
	border-bottom: 1px solid var(--gray-light-color);
	padding-bottom: 12px;
}

.stories-headline span {
	color: var(--gray-light-color);
}

.all-stories {
	display: flex;
	align-items: center;
	gap: 20px;
	max-width: 100%;
	overflow: auto;
}

.all-stories figure {
	width: 67px;
	margin: 0;
}

.all-stories figure img {
	width: 64px;
	height: 64px;
	border-radius: 100px;
	border: 3px solid var(--red-color);
	object-fit: cover;
	padding: 2px;
	/* background: linear-gradient(red, #c309d3); */
}

.all-stories figure figcaption {
	text-align: center;
}

/* Posts */
.posts {
	flex: 1;
	width: 100%;
	overflow-y: scroll;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.posts .card {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 24px;
}

.card-headline {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}
.card-headline div {
	display: flex;
	flex-direction: column;
}

.card-headline div h4 {
	margin: 0;
}

.card-headline div h4 small {
	color: var(--gray);
}

.card-icon {
	width: 32px;
	height: 32px;
	object-fit: cover;
	border-radius: 50px;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.post-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

.post-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icons-left,
.icons-right {
	display: flex;
	gap: 8px;
	padding: 8px;
	cursor: pointer;
}

.icon-left img,
.icon-right img {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.description {
	margin-bottom: 8px;
}

.container-comment {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.buttons-comments {
	display: flex;
	margin-top: 8px;
}

.buttons-comments input {
	flex: 1;
	padding-left: 4px;
}

.buttons-comments button {
	height: 32px;
	padding: 8px;
	background-color: var(--purple-color);
	color: var(--white-color);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: center;
}

.comments {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	word-wrap: break-word;
}
.comments div {
	max-width: 100%;
	word-break: break-word;
}

.delete-comment {
	color: var(--red-color);
	font-size: 12px;
}

.likes-quantity {
	padding-left: 8px;
}

/* Suggestions */

.suggestions-container {
	width: 250px;
	padding-top: 48px;
	padding-left: 16px;
	padding-right: 16px;
}

.suggestion-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.suggestion {
	display: flex;
	align-items: center;
	gap: 8px;
}

.suggestion-data {
	display: flex;
	flex-direction: column;
}

.suggestion-img {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	object-fit: cover;
}

.buttons-suggestions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.suggestion-hint {
	color: var(--gray);
	font-size: 14px;
}

.buttons-suggestions a {
	color: var(--blue);
}

/* post saved*/
main.postSaved {
	height: 100vh;
	overflow-x: hidden;
	width: 100%;
}

main.postSaved h1 {
	padding-left: 16px;
}

.container-postsSaved {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	flex-wrap: wrap;
	padding: 24px;
}

.container-postsSaved h2 {
	margin-left: auto;
	margin-right: auto;
}

.card-postSaved {
	margin-bottom: 16px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-comment-postSaved {
	margin-top: auto;
}

/*Reels*/
.reel {
	width: 100%;
}

.container-reels {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.reel-container {
	width: 85%;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

main.reels h1 {
	padding-left: 64px;
}

@media (max-width: 1285px) {
	.stories-container {
		width: 500px;
	}
}

@media (max-width: 1100px) {
	.suggestions-container {
		display: none;
	}
}

@media (max-width: 811px) {
	nav ul li span,
	nav article span {
		display: none;
	}

	.navigation {
		justify-content: flex-start;
		width: auto;
	}

	nav {
		padding: 0;
		width: max-content;
	}

	nav ul {
		margin: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		gap: 16px;
	}

	nav h1 {
		font-size: 24px;
	}
}

@media (max-width: 730px) {
	body {
		flex-direction: column-reverse;
	}

	main.index {
		overflow: hidden;
	}

	.navigation {
		flex-direction: row;
		justify-content: center;
		padding: 16px;
	}

	nav ul {
		flex-direction: row;
		gap: 16px;
	}

	nav ul h1,
	nav article {
		display: none;
	}

	nav ul li:last-child {
		display: block;
	}

	nav ul li img {
		width: 32px;
	}

	.icon-profile {
		border-radius: 50px;
	}

	.li-home {
		order: 0;
	}

	.li-search {
		order: 1;
	}

	.li-reels {
		order: 2;
	}

	.li-plus {
		order: 3;
	}

	.li-notifications,
	.li-saved {
		display: none;
	}

	.li-profile {
		order: 6;
	}

	.li-msg {
		order: 5;
	}

	.headline {
		display: flex;
	}
}

@media (max-width: 670px) {
	main.index {
		overflow: hidden;
	}

	main.reels {
		overflow: auto;
	}

	nav ul {
		gap: 8px;
	}
	nav ul li img {
		width: 24px;
	}

	.stories-container {
		max-width: 390px;
	}
}

@media (max-width: 550px) {
	.all-stories {
		gap: 8px;
	}

	/* .all-stories figure {
		width: auto;
	} */

	/* .all-stories figure img {
		width: 40px;
		height: 40px;
	} */

	.all-stories figcaption {
		font-size: 16px;
	}

	.stories-container {
		max-width: 380px;
	}
}

@media (max-width: 450px) {
	.stories-container {
		max-width: 300px;
	}
}

@media (max-width: 400px) {
	body {
		font-size: 14px;
	}
	nav ul {
		gap: 0;
	}

	.all-stories {
		gap: 8px;
	}

	.stories-container {
		max-width: 270px;
	}

	/* .all-stories figure {
		width: auto;
	} */

	/* .all-stories figure img {
		width: 20px;
		height: 20px;
	} */

	.all-stories figcaption {
		font-size: 12px;
	}

	.buttons-comments button {
		padding: 0;
	}

	main.reels h1 {
		font-size: 24px;
	}
}
