<nav>
	<ul>
		<h1><a href="index.html">Fotogram</a></h1>
		<li class="li-home">
			<a href="index.html">
				<img src="./img/icon/house-fill.svg" alt="house fill icon" /><span
					>Home</span
				></a
			>
		</li>
		<li class="li-search">
			<a href="#"
				><img src="./img/icon/search.svg" alt="search" /><span>Explore</span>
			</a>
		</li>
		<li class="li-reels">
			<a href="./reels.html"
				><img src="./img/icon/film.svg" alt="reels" /> <span>Reels</span></a
			>
		</li>
		<li class="li-msg">
			<a href="#"
				><img src="./img/icon/messenger.svg" alt="messages" /><span
					>Messages</span
				>
			</a>
		</li>
		<li class="li-notifications">
			<a href="#" class="nav-notifications">
				<img src="./img/icon/heart.svg" alt="notifications" /><span
					>Notifications</span
				></a
			>
		</li>
		<li class="li-saved">
			<a href="./postSaved.html" class="nav-saved">
				<img src="./img/icon/bookmark.svg" alt="notifications" /><span
					>Saved</span
				></a
			>
		</li>
		<li class="li-plus">
			<a href="#"
				><img src="./img/icon/plus-square.svg" alt="crearte" />
				<span>Create</span></a
			>
		</li>
		<li class="d-none li-profile">
			<a href="#"
				><img
					src="./img/raudel-user.jpg"
					alt="profile"
					class="icon-profile"
				/><span>profile</span>
			</a>
		</li>
	</ul>
	<article class="profile-container">
		<a href="#">
			<fig class="profile-photo">
				<img src="./img/raudel-user.jpg" alt="profile" />
			</fig>
			<span>Profile</span>
		</a>
	</article>
</nav>
